<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registeration</title>
</head>
<body>
    <form action="" method="get">
        {{form}}



        
        {% for field in form %}
                    {{field}}
                
        {% endfor %}

        <input type="submit" value="Submitt">
        <br><br>
       <hr>
        {% for field in form.visible_fields %}
            {{field}}
    
        {% endfor %}
        {% for field in form.hidden_fields %}
                {{field}}
            
        {% endfor %}

    <input type="submit" value="Submitt">
    </form>


</body>
</html>