<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       table, th, td{
            border: solid 5px black;
            border-radius:5px;
        }
        th, td {
            padding: 5px; /* Add some padding for better readability */
        }
    </style>
</head>
<body>

    <table>
        <th>Id</th>
        <th>Name</th>
        <th>Center Name</th>
        <th>Roll Number</th>
        <th>City</th>
        
        {% for student  in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.cname}}</td>
            <td>{{student.roll}}</td>
            <td>{{student.city}}</td>
            <br>
        </tr>
        {% endfor %}

    </table>
<br> <br>

    <table>
        <th>Id</th>
        <th>Center Name</th>
        <th>City</th>

        {% for Ecenter  in Examcenter %} 
        <tr>
            <td>{{Ecenter.id}}</td>
            <td>{{Ecenter.cname}}</td>
            <td>{{Ecenter.city}}</td>
            <br>
            
        </tr>
        {% endfor %}
    </table>
    <br> <br>



</body>
</html>