<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile edition</title>
</head>
<body>
    Wellcome Dear {{name}}

    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p style = "color : red ">{{error}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
         {% endfor %}        
    <input type="submit" value="Save">
    </form>
</body>
</html>  
{% comment %} 

# profile
def user_profile(request):
    if request.user.is_authenticated:
        if request.method == 'POST':
            fm = EditUserProfileForm(request.POST,instance=request.user)
            if fm.is_valid():
                messages.success(request,'profile uploadded!!!')
                fm.save()
        else:
            fm = EditUserProfileForm(instance=request.user)
        return render(request,'enroll/profile.html',{'name': request.user, 'form':fm})
    else:
        return HttpResponseRedirect('/login/') {% endcomment %}